---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Animation from '../components/Animation.astro';

// blog
import { getNublog } from "../../library/microcms";
const resnublog = await getNublog({ fields: ["id", "title", "image", "date"] });

import moment from "moment";
let setdate = function (str:any) {
  return moment(str).utc().format('YYYY-MM-DD');
};

---

<Layout title="N sports">
	<main class="tw-absolute tw-top-[0px] tw-left-[0px] tw-w-[100%] tw-h-[100vh]">
		<h1 class="tw-absolute tw-top-[50%] tw-left-[20%] tw-text-[24px]">N sports</h1>
		<Animation />
		<div>
			<ul class="tw-flex tw-flex-wrap tw-gap-[10px] tw-mr-[-10px] sm:tw-gap-[20px] sm:tw-mr-[0px] tw-hidden ">
				{
					resnublog.contents.map((content: any) => (
					<Card
						directory="nu-blog"
						href={content.link}
						title={content.title}
						image={content.image.url}
						data={setdate(content.date)}
					/>
					))
				}
			</ul>
		</div>		
	</main>
</Layout>
