---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Animation from '../components/Animation.astro';

---

<Layout title="N sports">
	<main id="l-main" class="tw-absolute tw-top-[0px] tw-left-[0px] tw-w-[100%] tw-h-[100vh]">
	    <div id="js-loading">
			<div class="circle-border tw-bg-gradient-to-r tw-from-white tw-from-30% tw-to-black tw-w-[80px] tw-h-[80px] tw-p-[3px] tw-flex tw-justify-center tw-items-center tw-rounded-[50%] tw-top-[calc(50%_-_40px)] tw-left-[calc(50%_-_40px)] tw-absolute "><div class="tw-w-[100%] tw-h-[100%] tw-bg-[#000000] tw-rounded-[50%]"></div></div>		
		</div>
		<h1 class="tw-absolute tw-top-[50%] tw-left-[20%] tw-text-[48px] tw-text-shadow-white sm-max:tw-text-[24px]">N sports</h1>	
		<Animation />	
		<Card />
	</main>
</Layout>