---
interface Props {
  directory: string;
  title: string;
  data: string;
  href: string;
  image: string;
}

const { directory, href, title, body, image } = Astro.props;
---

<li>
	<a href={href}>
		<img
			src={image}
			alt={title}
			decoding="auto"
		>
		<p>{title}</p>
	</a>
</li>