<header class="tw-relative tw-z-[10] tw-px-[20px] tw-py-[10px] tw-btsm-max:tw-p-[10px]">
  <h1 class="tw-flex tw-flex-wrap tw-gap-[10px] tw-text-[36px] tw-text-shadow-white sm-max:tw-text-[24px]">
    N sports
  </h1>	
  <div>
    <div class="tw-absolute tw-z-[10] tw-px-[20px] tw-py-[25px] tw-top-[0px] tw-right-[0px] tw-gap-[10px] tw-flex">
      <button type="button" class="js-caroucel-button" id="caoucel_switch">
        <svg width="52" height="51" viewBox="0 0 52 51" fill="none" xmlns="http://www.w3.org/2000/svg" class="tw-w-[25px] tw-h-[25px]">
          <rect x="6.34595" y="1" width="37.6226" height="33.7893" fill="white" stroke="black" stroke-width="2"/>
          <line x1="51" y1="7.51835e-08" x2="51" y2="35.7893" stroke="black" stroke-width="2"/>
          <line x1="1" y1="4.37113e-08" x2="0.999998" y2="35.7893" stroke="black" stroke-width="2"/>
          <path d="M9.29289 17.2929C8.90237 17.6834 8.90237 18.3166 9.29289 18.7071L15.6569 25.0711C16.0474 25.4616 16.6805 25.4616 17.0711 25.0711C17.4616 24.6805 17.4616 24.0474 17.0711 23.6569L11.4142 18L17.0711 12.3431C17.4616 11.9526 17.4616 11.3195 17.0711 10.9289C16.6805 10.5384 16.0474 10.5384 15.6569 10.9289L9.29289 17.2929ZM40.7071 18.7071C41.0976 18.3166 41.0976 17.6834 40.7071 17.2929L34.3431 10.9289C33.9526 10.5384 33.3195 10.5384 32.9289 10.9289C32.5384 11.3195 32.5384 11.9526 32.9289 12.3431L38.5858 18L32.9289 23.6569C32.5384 24.0474 32.5384 24.6805 32.9289 25.0711C33.3195 25.4616 33.9526 25.4616 34.3431 25.0711L40.7071 18.7071ZM10 19L40 19L40 17L10 17L10 19Z" fill="black"/>
          <path d="M26.6844 34.98V17.1539C26.7954 16.3836 27.5502 14.8761 29.6815 15.0081C30.4031 15.0907 31.8462 15.6354 31.8462 17.1539V28.4711C31.9497 27.0341 32.466 25.3241 34.0108 25.3241C34.7136 25.2776 36.0097 25.8272 36.3966 28.1443C36.4471 26.7874 36.9582 25.3241 38.6731 25.3241C39.4779 25.2966 41.1208 26.1163 41.254 29.6155C41.2262 28.7628 41.5704 27.0572 43.1689 27.0572C43.9182 27.0022 45.4334 27.4368 45.5 29.6155V42.1598C45.1115 44.7732 42.5694 50 35.5094 50C32.4567 49.8625 26.0183 48.5805 24.6862 44.5531L22.9379 37.7033L20.0239 29.6155C19.9407 28.7628 20.024 27.3048 21.1062 26.8921C22.1885 26.4795 23.171 26.9911 23.7704 28.3776L26.6844 34.98Z" fill="white"/>
          <path d="M26.6844 34.98V17.1539C26.7954 16.3836 27.5502 14.8761 29.6815 15.0081C30.4031 15.0907 31.8462 15.6354 31.8462 17.1539V29.6155C31.7352 28.1851 32.0127 25.3241 34.0108 25.3241C34.8434 25.2691 36.5085 26.0503 36.5085 29.6155C36.2309 28.1851 36.2753 25.3241 38.6731 25.3241C39.4779 25.2966 41.1208 26.1163 41.254 29.6155C41.2262 28.7628 41.5704 27.0572 43.1689 27.0572C43.9182 27.0022 45.4334 27.4368 45.5 29.6155V42.1598C45.1115 44.7732 42.5694 50 35.5094 50C32.4567 49.8625 26.0183 48.5805 24.6862 44.5531L22.9379 37.7033L20.0239 29.6155C19.9407 28.7628 20.024 27.3048 21.1062 26.8921C22.1885 26.4795 23.171 26.9911 23.7704 28.3776L26.6844 34.98Z" stroke="black" stroke-width="2"/>
        </svg>
      </button>    
      <button type="button" class="js-mode-button tw-text-shadow-white" id="light">Light</button>
      <button type="button" class="js-mode-button tw-text-shadow-white" id="dark">Dark</button>
    </div>
  </div>
</header>