<header class="tw-relative tw-z-[10] tw-px-[20px] tw-py-[10px] tw-btsm-max:tw-p-[10px]">
	<h1 class="tw-flex tw-flex-wrap tw-gap-[10px] tw-text-[36px] tw-text-shadow-white sm-max:tw-text-[24px]">N sports</h1>	
</header>