---
import Svg from '../components/Svg.astro';
---

<header class="tw-relative tw-z-[10] tw-px-[20px] tw-py-[10px] tw-btsm-max:tw-p-[10px]">
  <h1 class="tw-flex tw-flex-wrap tw-gap-[10px] tw-text-[36px] tw-text-shadow-white sm-max:tw-text-[24px]">
    N sports
  </h1>	
  <div class="tw-absolute tw-z-[10] tw-px-[20px] tw-py-[25px] tw-top-[0px] tw-right-[0px] tw-gap-[10px] tw-flex">
    <div class="tw-gap-[10px] tw-flex tw-mr-[10px]">
      <button type="button" class="js-caroucel-button tw-filter-drow-shadow" role="button" id="caoucel_switch">
        <Svg name="js-caroucelmove"/>
      </button>
      <button type="button" class="js-caroucel-button tw-opacity-50" role="button" id="background_switch">
        <Svg name="js-pcmove"/>
      </button>
    </div>
    <div class="tw-gap-[10px] tw-flex">
      <button type="button" class="js-mode-button tw-filter-drow-shadow" role="button" id="light">
        <Svg name="js-lightmode"/>
      </button>
      <button type="button" class="js-mode-button tw-opacity-50" role="button" id="dark">
        <Svg name="js-darkmode"/>
      </button>
    </div>    
  </div>
</header>